* {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3c6993;
}

/* Header */
#header > ul {
    color: #cad4de;
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    place-items: center;
    height: 60px;
}

li {
    list-style: none;
}

.user {
    grid-area: 1 / 4;
}

.projects {
    grid-area: 1 / 3;
}

.sort {
    grid-area: 1 / 2;
}

/* Dashboard */
#dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.dashboard-header {
    display: flex;
    flex-direction: column; 
    gap: 30px;
    grid-column: 2;
}

.date,
.dashboard-title {
    color: #cad4de
}

.dashboard-title {
    font-weight: 500;
}

/* Todo Container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-top: solid grey 2px;
    border-bottom: solid grey 2px;
    grid-area: 2 / 2;
}

/* Add Task */
.add-task {
    display: grid;
    grid-template-columns: 55px 100px;
    align-items: center;
    grid-area: 3 / 2;
}

.task-button {
    color: white;
    background-color: transparent;
    text-align: start;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
}

.add-task > li  > svg {
    height: 40px;
    width: 50px;
    margin-right: 8px;
}